src/Balsamo/Balsamo.mcp
src/Balsamo/Balsamo.mcw
src/Balsamo/Balsamo.mcs
src/Balsamo/Balsamo.mptags
src/Balsamo/Balsamo.tagsrc
src/Balsamo/libp30F6014-coff.a
src/Balsamo/out/*.o
src/Balsamo/out/*.cof
src/Balsamo/out/*.map
src/Balsamo/out/*.lst
src/Balsamo/out/*.hex
src/wav2raw/*.wav
src/wav2raw/*.raw
